* {
    box-sizing: border-box;
}
div {
    width: 70%;
    margin: auto;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    padding: 50px;
    border: 20px;
    border-style: none;

}

img {
    max-width: 1500px;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
p {
    font-size: 22px;
    font-family: Helvetica;
    line-height: 1.65;
}
h1 {
    font-size: 48px;
    font-family: Helvetica;
    text-align: center;
    padding-bottom: 40px;
}
